<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        package="com.HeheJuice.OneUISpoof"
        android:label="OneUI 8.5 Prop Spoofer">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
            
        <meta-data
            android:name="xposeddescription"
            android:value="Tricks selected apps into seeing fake OneUI 8.5 properties." />
            
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
            
    </application>
</manifest>
